<!DOCTYPE html>
@inject SignInManager<CustomIdentityUser> signIngManager;
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KenkoApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @using Microsoft.AspNetCore.Identity
    @inject SignInManager<CustomIdentityUser> SignInManager
  
    @*<script>
        $(document).ready(function ($) {
            var url = window.location.href;
            var activePage = url;
            $('.irp-menu-item a').each(function () {
            var linkPage = this.href;

                if (activePage == linkPage) {
                    $(this).closest("li").addClass("active");
                    }
            });
        });
    </script>*@

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-fixed bg-white border-bottom box-shadow mb-3" >
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img width="200" src="~/img/Kenko1_Kenko_logo_full.png" />
                </a>


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CustomIdentityUsers" asp-action="Details">Patient Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="HealthRecords" asp-action="Index">Records</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Appointments" asp-action="Index">Appointments</a>
                            </li>
                            <li class="nav-item">
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <a class="nav-link" href="#aboutus">About Kenko</a>
                    <a class="nav-link" href="#overview">Health</a>
                    <a class="nav-link" href="#meettheteam">Meet the Team</a>
                    <a class="nav-link" href="#contact">Contact Us</a>

                }
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 content" style="padding-top:100px">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - KenkoApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/navfunction.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)

</body>
</html>
