@*@{
        ViewData["Title"] = "Home Page";
    }*@






@*<div>



        <style type="text/css">
            body {
                background-image: url('img/kenko1_kenko_logo_full.png');
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </div>

        <div>
            <style>
                body {
                    background-color: #4cff00;
                    background-image: url('img/hipaa.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            </style>*@

@*</div>*@

@*<div class="top-content">*@

@*<style>
        body {
            background-color: #4cff00;
            /*background-image: url('img/banner kenko.jpg')*/;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>*@
@*</div>*@


@*<body>
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
        </div>


    </body>*@




@{
    ViewData["Title"] = "Home Page";
}

<html>

<head>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>

    @*Emilee changed max width from 1000px o 1200 px,needs to be modified, issue with linking on page*@
    @*Ana modified to fixed height, also removed w3 classes*@ 
    <div style="max-width:1200px; margin: 0 0 0 0">
        <img class="mySlides" src="~/img/Kenko_stethoscope_2.jpg" style="height:600px">
        <img class="mySlides" src="~/img/Kenko_bloodpressure.jpg" style="height:600px">
        <img class="mySlides" src="~/img/Kenko_smartwatch.jpg" style="height:600px">
        <img class="mySlides" src="~/img/Kenko_Shoes.jpg" style="height:600px">

    </div>

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 2000); // Change image every 2 seconds
        }
    </script>


    <div></div>

    <div class="stripe" id="overview" style="padding:0px 50px 0px 50px">
        <h3  class="HomeHeading">Overview</h3>
        <section class="text-left" style="padding-bottom:60px">
            <span style="font-size: medium;">
                Kenkō is a customizable and secure patient-centric portal offering cloud-based solutions for healthcare facilities. Our portal offers a single patient engagement solution to include:<br />
                <br />
                • Validation of insurance accepted by facility<br />
                • Selection of provider preference<br />
                • Appointment scheduling<br />
                • Access to healthcare records<br />
                • Prescription renewal<br />
                • Viewing of labs<br />
                • Ability to fill out forms electronically <br />
                <br />
                In addition, Kenkō is HIPAA-Compliant and EHR-agnostic, achieving interoperability with all EHRs. Implementation of our patient portal will assist your healthcare facility to achieve stage 3 meaningful use published by CMS (Center for Medicare and Medicaid Services) and ONC (Office of National Coordinator).<br />
                <br />
                Compatible with Windows, Mac and Linux operating systems.
            </span>
        </section>
    </div>


    <div class="stripe2" id="aboutus" style="padding:0px 50px 0px 50px">
        <div>
            <h3 class="HomeHeading"> About Us</h3>
            <section class="text-left" style="padding-bottom:60px">
                Kenkō is a customizable and secure patient-centric portal offering cloud-based solutions for healthcare facilities. Our portal offers a single patient engagement solution to include:<br />
                <br />
                • Validation of insurance accepted by facility<br />
                • Selection of provider preference<br />
                • Appointment scheduling<br />
                • Access to healthcare records<br />
                • Prescription renewal<br />
                • Viewing of labs<br />
                • Ability to fill out forms electronically <br />
                <br />
                In addition, Kenkō is HIPAA-Compliant and EHR-agnostic, achieving interoperability with all EHRs. Implementation of our patient portal will assist your healthcare facility to achieve stage 3 meaningful use published by CMS (Center for Medicare and Medicaid Services) and ONC (Office of National Coordinator).<br />
                Compatible with Windows, Mac and Linux operating systems.<br />
            </section>
            <br />
            <br />
        </div>
    </div>


    <div class="stripe" id="contact" style="padding:0px 50px 0px 50px; margin:0 0 0 0">
        <h3 class="HomeHeading"> Contact</h3>
        <section class="text-left stripe" style="padding-bottom:60px">
            <div class="white-box">
                Kenkō is a customizable and secure patient-centric portal offering cloud-based solutions for healthcare facilities. Our portal offers a single patient engagement solution to include:<br />
                <br />

                • Validation of insurance accepted by facility<br />
                • Selection of provider preference<br />
                • Appointment scheduling<br />
                • Access to healthcare records<br />
                • Prescription renewal<br />
                • Viewing of labs<br />
                • Ability to fill out forms electronically <br />
                <br />

                In addition, Kenkō is HIPAA-Compliant and EHR-agnostic, achieving interoperability with all EHRs. Implementation of our patient portal will assist your healthcare facility to achieve stage 3 meaningful use published by CMS (Center for Medicare and Medicaid Services) and ONC (Office of National Coordinator).<br />
                Compatible with Windows, Mac and Linux operating systems.<br />
            </div>
        </section>
        <br />
        <br />
    </div>

    <div style="padding:100px 0px 100px 0px; margin:0 0 0 0">
    </div>

</body>
</html>






