
@{
    ViewData["Title"] = "Home Page";
}

<html>

<head>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>

    @*Emilee changed max width from 1000px o 1200 px,needs to be modified, issue with linking on page*@
    @*Ana modified to fixed height, also removed w3 classes*@
    @*<div style="max-width:1200px; margin: 0 0 0 0">
            <img class="mySlides" src="~/img/Kenko_stethoscope_2.jpg" style="height:600px">
            <img class="mySlides" src="~/img/Kenko_bloodpressure.jpg" style="height:600px">
            <img class="mySlides" src="~/img/Kenko_smartwatch.jpg" style="height:600px">
            <img class="mySlides" src="~/img/Kenko_Shoes.jpg" style="height:600px">

        </div>

        <script>
            var myIndex = 0;
            carousel();

            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) { myIndex = 1 }
                x[myIndex - 1].style.display = "block";
                setTimeout(carousel, 2000); // Change image every 2 seconds
            }
        </script>*@

    <!--Everything Below the NavBar-->
    <div>
            <!--Carousel Wrapper-->
        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                                     <!-- CAN WE CENTER & EXTEND THE CAROUSEL?  style="align-content:center; width:100%"-->
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
                             alt="First slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Light mask</h3>
                        <p>First text</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                             alt="Second slide">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Strong mask</h3>
                        <p>Secondary text</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
                             alt="Third slide">
                        <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Slight mask</h3>
                        <p>Third text</p>
                    </div>
                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
            <!--/.Carousel Wrapper-->



            <!--Everything Below the Carousel-->
            <div class="innerbody">

                <div class="stripe" id="overview" name="overview" style="padding:0px 50px 0px 50px">
                    <h3 class="HomeHeading">Overview</h3>
                    <section class="text-left" style="padding-bottom:60px">
                        <span style="font-size: medium;">
                            Kenkō is a customizable and secure patient-centric portal offering cloud-based solutions for healthcare facilities. Our portal offers a single patient engagement solution to include:<br />
                            <br />
                            • Validation of insurance accepted by facility<br />
                            • Selection of provider preference<br />
                            • Appointment scheduling<br />
                            • Access to healthcare records<br />
                            • Prescription renewal<br />
                            • Viewing of labs<br />
                            • Ability to fill out forms electronically <br />
                            <br />
                            In addition, Kenkō is HIPAA-Compliant and EHR-agnostic, achieving interoperability with all EHRs. Implementation of our patient portal will assist your healthcare facility to achieve stage 3 meaningful use published by CMS (Center for Medicare and Medicaid Services) and ONC (Office of National Coordinator).<br />
                            <br />
                            Compatible with Windows, Mac and Linux operating systems.
                        </span>
                    </section>
                </div>


                <div class="stripe3" id="aboutus" style="padding:0px 50px 0px 50px">
                    <div>
                        <h3 class="HomeHeading"> About Us</h3>
                        <section class="text-left" style="padding-bottom:60px">
                            Kenkō is a customizable and secure patient-centric portal offering cloud-based solutions for healthcare facilities. Our portal offers a single patient engagement solution to include:<br />
                            <br />
                            • Validation of insurance accepted by facility<br />
                            • Selection of provider preference<br />
                            • Appointment scheduling<br />
                            • Access to healthcare records<br />
                            • Prescription renewal<br />
                            • Viewing of labs<br />
                            • Ability to fill out forms electronically <br />
                            <br />
                            In addition, Kenkō is HIPAA-Compliant and EHR-agnostic, achieving interoperability with all EHRs. Implementation of our patient portal will assist your healthcare facility to achieve stage 3 meaningful use published by CMS (Center for Medicare and Medicaid Services) and ONC (Office of National Coordinator).<br />
                            Compatible with Windows, Mac and Linux operating systems.<br />
                        </section>
                        <br />
                        <br />
                    </div>
                </div>

                <div class="stripe" id="meettheteam" style="padding:0px 50px 0px 50px">
                    <div>
                        <h3 class="HomeHeading">Meet the Team</h3>
                        <section class="text-left" style="padding-bottom:60px">
                            Kenkō is a customizable and secure patient-centric portal offering cloud-based solutions for healthcare facilities. Our portal offers a single patient engagement solution to include:<br />
                            <br />
                            • Validation of insurance accepted by facility<br />
                            • Selection of provider preference<br />
                            • Appointment scheduling<br />
                            • Access to healthcare records<br />
                            • Prescription renewal<br />
                            • Viewing of labs<br />
                            • Ability to fill out forms electronically <br />
                            <br />
                            In addition, Kenkō is HIPAA-Compliant and EHR-agnostic, achieving interoperability with all EHRs. Implementation of our patient portal will assist your healthcare facility to achieve stage 3 meaningful use published by CMS (Center for Medicare and Medicaid Services) and ONC (Office of National Coordinator).<br />
                            Compatible with Windows, Mac and Linux operating systems.<br />
                        </section>
                        <br />
                        <br />
                    </div>
                </div>


                <div class="stripe2" id="contact" style="padding:0px 50px 0px 50px; margin:0 0 0 0">
                    <br/><br/>
                    <div class="white-box" style="padding:30px">
                        
                        <h3 class="HomeHeading" style="margin:0; padding:0"> Contact Us</h3>
                        <section class="text-left" style="padding-bottom:60px">
                            <div>
                                Kenkō is a customizable and secure patient-centric portal offering cloud-based solutions for healthcare facilities. Our portal offers a single patient engagement solution to include:<br />
                                <br />

                                • Validation of insurance accepted by facility<br />
                                • Selection of provider preference<br />
                                • Appointment scheduling<br />
                                • Access to healthcare records<br />
                                • Prescription renewal<br />
                                • Viewing of labs<br />
                                • Ability to fill out forms electronically <br />
                                <br />

                                In addition, Kenkō is HIPAA-Compliant and EHR-agnostic, achieving interoperability with all EHRs. Implementation of our patient portal will assist your healthcare facility to achieve stage 3 meaningful use published by CMS (Center for Medicare and Medicaid Services) and ONC (Office of National Coordinator).<br />
                                Compatible with Windows, Mac and Linux operating systems.<br />
                            </div>
                        </section>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
    </div>
    <div style="padding:100px 0px 100px 0px; margin:0 0 0 0">
    </div>

</body>
</html>






