/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/*Stretches background across screen*/

.stripe {
    background-color: #CCFFFF;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

        .stripe:before {
            content: "";
            background-color: #CCFFFF;
            position: absolute;
            height: 100%;
            width: 4000px;
            left: -2000px;
            z-index:-1;
        }




.stripe2 {
    background-color: #f9d189;
    position: relative;
    background-size: cover;
}

        .stripe2:before {
            content: "";
            background-color: #f9d189;
            position: absolute;
            height: 100%;
            width: 4000px;
            left: -2000px;
            z-index: -1;
        }



a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

#button {
    color:white;
    background-image: linear-gradient(to bottom right, #FE7923, #FFCC33);
    border-color: #fff;
    font-weight: bold;
    border:none;
    border-radius: 3px;
}
 /*{
    color: white;
    background-image: linear-gradient(to bottom right, #FE7923, #FFCC33);
    border-color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}*/

 #button:hover {
    color: white;
    background-image: linear-gradient(to bottom right, #0366d6, #00c2c2);
    border-color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
 }
.btn-primary {
    color: #fff;
    /*background-color: #FE7923;*/
    background-image: linear-gradient(to bottom right, #FE7923, #FFCC33);
    border-color: #fff;
    font-weight:bold;
}

.btn-link {
    color: #fff;
    background-color: #FE7923;
    border-color: #fff
}
.btn {
    color: #fff;
    background-color: #FE7923;
    border-color: #fff;
}

.btn-link:hover {
    color: #fff;
    background-image: linear-gradient(to bottom right, #0366d6, #00c2c2);
    border-color: #fff;
}

.btn:hover {
    color: #fff;
    background-image: linear-gradient(to bottom right, #0366d6, #00c2c2);
    border-color: #fff;
}

.btn-primary:hover {
    color: #fff;
    background-image: linear-gradient(to bottom right, #0366d6, #00c2c2);
    border-color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0em 0em .41em 0px hsla(0,0%,0%,.37);

}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
*{
    font-family:'Calibri';
}
active {
    background-image: linear-gradient(to bottom right, #0366d6, #00c2c2);
}


.overview-content {
    background-image: url('../img/banner kenko.jpg');
    background-repeat: no-repeat;
    background-size:auto;
}


.aboutus-content {
    background-color: #e2dede;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-content {
    background-color: #edaf53;
    background-repeat: no-repeat;
    background-size: cover;
}

.mySlides {
    display: none;
}

/*sticky navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


.img {
    background-size: contain;
}


