/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

#button {
    color:white;
    background-image: linear-gradient(to bottom right, #FE7923, #FFCC33);
    border-color: #fff;
    font-weight: bold;
    border:none;
    border-radius: 3px;
}

 #button:hover {
    color: white;
    background-image: linear-gradient(to bottom right, #0366d6, #00c2c2);
    border-color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
 }
.btn-primary {
    color: #fff;
    /*background-color: #FE7923;*/
    background-image: linear-gradient(to bottom right, #FE7923, #FFCC33);
    border-color: #fff;
    font-weight:bold;
}

.btn-link {
    color: #fff;
    background-color: #FE7923;
    border-color: #fff
}
.btn {
    color: #fff;
    background-color: #FE7923;
    border-color: #fff;
}

.btn-link:hover {
    color: #fff;
    background-image: linear-gradient(to bottom right, #0366d6, #00c2c2);
    border-color: #fff;
}

.btn:hover {
    color: #fff;
    background-image: linear-gradient(to bottom right, #0366d6, #00c2c2);
    border-color: #fff;
}

.btn-primary:hover {
    color: #fff;
    background-image: linear-gradient(to bottom right, #0366d6, #00c2c2);
    border-color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0em 0em .41em 0px hsla(0,0%,0%,.37);

}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
*{
    font-family:'Calibri';
}
active {
    background-image: linear-gradient(to bottom right, #0366d6, #00c2c2);
}
